/*Header CSS*/
@media screen and (max-width: 700px) {
    .main.menu {
        display: none;
    }
    .mobileMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
        padding-top: 1em;
        
        
    }
  
}

@media screen and (min-width: 701px) {
    .mobileMenu {
        display: none;
    }
}

.mItem{
  flex-grow: 1;
}

.masthead.segment{
  padding: 0;
  min-height: 100vh;
}

.mItem.title{
  font-size: 1rem;
}

.text.container.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.headerItem{
  margin: 1em;
}

.heading{
  font-size: 4rem !important;
}

.top-menu{
  padding-top: 1rem;
}


/*Main CSS*/

.contentSection{
  min-height: 100vh;
  margin-top: 0;
}

.flexMiddle{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*What CSS*/

#what .ui.grid, #features .ui.grid{
  min-height: 100vh;
}

#cardFront{
  max-height: 70%;
}

/*Video CSS*/

#videoContainer{
  margin: 2em;

}

/*FAQs CSS*/

.accordion{
  color: blue;
}


#risk{
  min-height: 50vh;
}


.ui.header{
  color: #63157f;
}

#feature{
  background-color: #ffba29 !important;
}


#contactUs,#video{
  min-height: 70vh !important;
}


#feature:hover{
  transition: all 200ms ease-in;
  transform: scale(1.2);
  z-index: 2;
}


.fa-amazon, .fa-arrow-circle-right{
  margin-left: 0.5em;
}


.headerItem{
  color: white !important;
}

#mainHeading{
  color: white !important;
}
